* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;

}

h1,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: yellow;
  color: black;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;


}

.btn-light {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;

}

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: white;
  transition: 0.3s;
}

.btn-light:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}